@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f2937;
  --foreground: #ffffff;
  --card: #164e63;
  --card-foreground: #ecfeff;
  --popover: #164e63;
  --popover-foreground: #ffffff;
  --primary: #0891b2;
  --primary-foreground: #ffffff;
  --secondary: #ecfeff;
  --secondary-foreground: #1f2937;
  --muted: #4b5563;
  --muted-foreground: #ffffff;
  --accent: #0891b2;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #4b5563;
  --input: #374151;
  --ring: #9ca3af;
  --radius: 0.5rem;
}

.dark {
  --background: #111827;
  --foreground: #ffffff;
  --card: #1f2937;
  --card-foreground: #ffffff;
  --popover: #1f2937;
  --popover-foreground: #ffffff;
  --primary: #06b6d4;
  --primary-foreground: #ffffff;
  --secondary: #1f2937;
  --secondary-foreground: #ffffff;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #06b6d4;
  --accent-foreground: #ffffff;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #374151;
  --input: #1f2937;
  --ring: #06b6d4;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
